@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Gothic A1', sans-serif; */

/* reset */
body,html{}
body{margin:0;font-family: 'Nanum Gothic', sans-serif; color:#333333; background-color: #FFFF;}
h1,h2,h3,h4,h5,h6{margin:0;padding: 0;}
a{text-decoration: none; color:inherit;}
ul,ol{list-style: none; margin:0;padding:0;}
*{box-sizing: border-box;}

/* -------common-------- */
.blue{background-color: rgb(197, 217, 255);}
.red{background-color: rgb(255, 184, 184);}
.green{background-color: rgb(164, 255, 213);}
.yellow{background-color: moccasin;}
.gray{background-color: slategrey;}
.pink{background-color: rgb(255, 224, 231);}
.mint{background-color: rgb(115, 255, 138);}

img{width:100%; vertical-align: top;}

/* -------------------------------------------- */

#container{
  width: 1000px;
  display: flex;
}

header{
  
  position: relative;
  width:200px;height: 650px;
  /* padding: 10px; */
  background-color: black;
  z-index: 100;}

.logo{
  /* border: 1px solid rgb(255, 193, 193); */
  padding:35px 35px 0px 35px;
  /* margin-top: 15px; */
  margin-bottom: 20px;
}
.logo a{
  /* border: 1px solid #000; */
  width: 100%; height: 100px;
  display: block;
  background-image: url(../images/logo_white_2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center cetner;
  text-indent: -9999px;
  overflow: hidden;
}

nav{
  position: relative;
  /* border: 1px solid rgb(255, 84, 84); */
  padding:10px 20px;
  box-sizing: border-box;}
.gnb{
  margin:0 auto; color:white; text-align: center;}
.gnb>li{ border-bottom: dashed 1px rgb(58, 58, 58);}
.gnb>li>a{
  /* border: 1px solid rgb(255, 255, 255); */
  display: block;
  padding:15px 10px; font-size: 14px;
  box-sizing: border-box;
}
.gnb>li:hover>a,.gnb>li>a:focus{color:rgb(225, 0, 225)}

.gnb>li:last-child{border-bottom: none;}

.sub{
  display: none; 
  width: 100%;
  padding-bottom:70px;
  /* border: 1px solid rgb(255, 0, 0); */
  position: absolute; top:0; left:100%;
  background-color: black;
}
.sub>li{
  background-color: black;
}
.sub>li>a{
  display: block;
  font-size: 14px;
  padding:15px 10px;
}
.sub>li:hover>a,.sub>li>a:focus{background-color: rgb(225, 0, 225)}
/* header e  */

#content{flex:1;}

.slideWrap{
  position: relative;
  width:100%; height: 350px;
  overflow: hidden;
}
.slides{
  position: absolute; top:0%; left:-200%;
  width: 300%; height: 100%;
  display: flex;
}
.slides a{
  position: relative;
  display: block; width:33.3333%; height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.slides a:nth-child(1){ background-image: url(../images/festi.jpg);
  background-position: top 100% center;}
.slides a:nth-child(2){ background-image: url(../images/audio.jpg);}
.slides a:nth-child(3){ background-image: url(../images/gasu1.jpg);}

.slide_txt{
  position: absolute; top:50%; left:50%;
  text-align: center;
}
.slide_txt h2{
  font-family: 'Nanum Myeongjo', serif;
  font-size: 30px;
  margin-bottom: 15px;
}
.slide_txt p{margin: 0;
  font-size: 18px;}

.slides a:nth-child(1)>.slide_txt{
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,.7);
  padding:20px; color:white;
}
.slides a:nth-child(2)>.slide_txt{
  top:34%; left:70%; color:black;
}
.slides a:nth-child(2)>.slide_txt>h2{
  background-color: rgba(255,255,255,.5);
  padding:20px;
  /* transform: rotate(-35deg) */
}
.slides a:nth-child(3)>.slide_txt{
  top:34%; left:10%; color:white;
  text-align: left;
}
/* slideWrap e  */

.conts{
  display: flex;
  width: 800px;
  height: 200px;
}
.conts>div{width: 33.33333%;
box-sizing: border-box;}

.tabWrap{}

  .tab_btn{}
  .tab_btn>a{
    font-size: 14px;
    display: inline-block;
    padding:10px;
    color:#999;
    /* border: 1px solid #000; */
  }
  .notice_btn{position: relative;}
  .notice_btn::after{
    content: '';
    position: absolute; top:50%; right: -4%;
    transform: translateY(-50%);
    width:2px; height: 15px;
    background-color: #666;
  }
  .gallery_btn{}
  .tab_btn>a.on,.tab_btn>a:hover,.tab_btn>a:focus{
    color:black;
  }
  /* tab_btn e  */

.tab_conts>div{display: none;}

  .conts_notice.on{display: block;}
  .conts_gallery.on{display: flex;}
  .conts_notice{
    /* margin:0 10px 10px 10px; */
  }
  .notice{
    font-size: 14px;
    padding:0 10px;
  }
  .notice>li{
    padding:10px 0;
    border-bottom: dashed 1px #666;
    letter-spacing: -2px;
  }
  .notice>li:last-child{
    border-bottom:none;
  }
  .notice>li:hover,.notice>li>a:focus{
    font-weight: bold;
  }
  .notice li a{
    display: flex; justify-content: space-between;
  }
  .notice span{
    height: 30px; line-height: 30px;
  }
  .notice span:first-child{
    width:70%; white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    overflow: hidden;
  }

  .conts_gallery{
    /* border: 1px solid #000; */
    display: flex;
    margin:25px 0;
    align-items: center;
    padding:10px; box-sizing: border-box;
  }
  .conts_gallery a{
    display: inline-block;
    margin-right: 5px;
  }
  .conts_gallery a:last-child{
    margin:0;
  }
  .conts_gallery a img{}

/* tabWrap e  */

.galleryWrap{
  padding:10px 10px 10px 0;
  width: 100%;height: 100%;
  box-sizing: border-box;
}
.gallery_slides{
  position: relative;
  margin:0 auto;
  width: 100%;height: 100%;
  overflow: hidden;
}
.gallery_slides>a{
  width: 115%;height: 115%;
  position: absolute; top:0; left:0;
  opacity:0;
  visibility: hidden;
  transition: all 1s;
}
.gallery_slides>a:nth-child(1){width: 130%;height: 130%;}
.gallery_slides>a:nth-child(2){width: 125%;height: 125%;}
.gallery_slides>a.active{
  opacity: 1;
  visibility:visible;
}
.gallery_txt{
  position: absolute; top:50%; left:50%;
}
.gallery_txt h2{
  font-family: 'Nanum Myeongjo', serif;
  color:white; font-size: 20px;
}
.gallery_slides>a:nth-child(1)>.gallery_txt{
  top:25%; left:10%;
}
.gallery_slides>a:nth-child(2)>.gallery_txt{
  font-style: italic;
  top:65%; left:22%;
}
.gallery_slides>a:nth-child(2)>.gallery_txt h2{
  color:rgb(255, 255, 255); font-size: 15px;
  
}
.gallery_slides>a:nth-child(3)>.gallery_txt{
  top:35%; left:26%; text-align: center; 
}
.gallery_slides>a:nth-child(3)>.gallery_txt span{
  display: inline-block;color:black;
  font-size: 15px; margin-bottom: 5px;
}
.gallery_slides>a:nth-child(3)>.gallery_txt h2{
  font-size: 25px;color:black
}
/* gallery_slides e  */
.gotoWrap{
  width: 100%; height: 100%;
  padding:10px 0; }
.goto{
  position: relative;
  display: block;
  width: 100%; height: 100%;
  background: url(../images/goto.jpg) no-repeat top 80% center;
  background-size: 120%; overflow: hidden;
}
.goto_txt{
  position: absolute; top:50%; left: 90%;
  transform: translate(-50%,-50%);
  text-align: center;
  background-color:rgba(0, 0, 48, 0.7);
  color:white;
  width: 180px; height: 150px;
}
.goto_txt h2:nth-child(1){
  margin-top: 14px;
  font-size: 22px;
}
.goto_txt h2:nth-child(2){
  font-size: 55px; 
}
.goto_txt p{margin: 0;}
/* conts e  */

footer{
  display: flex; align-items: center;  height: 100px;
  padding:0 10px;
  background-color:rgb(63, 7, 42);
}

.ft_logo{width: 200px;}
.ft_logo a{
  height: 50px;
  /* border: 1px solid #000; */
  display: block;
  background:url(../images/logo_black_2.svg) no-repeat center center;
  background-size: contain;
  text-indent: -9999px; overflow: hidden;
}
.copyright{
  /* border: 1px solid #000; */
  flex:1;
font-size: 15px; color:#777;
text-align: center;
margin-left: 30px;}
.familysite{
  width:200px;text-align: right;
  padding-right: 30px;
}
select{
  padding:7px 7px 5px 0px;
  border:none;
  background:none;
  color:#888;
  font-size: 13px; line-height: 13px;
  border-bottom: 1px solid #888;
  box-sizing: border-box;
}
/* footer e  */

.modal_wrap{
  display: none;
  position:fixed; top:0; left:0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,.7);
  box-shadow: 0 5px 5px #333;
}
.modal{
  width:350px; height: 350px; 
  position: absolute;
  top:50%; left: 50%; 
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
}
.modal h2{
  font-size: 20px;
  margin-bottom: 25px; color:black;
}
.modal img{
  width: 80%;
  margin-bottom: 20px;
}
.modal>a{
  display: inline-block;
  padding:5px 30px;
  background-color: black;
  color:white;
}

.btn_close{
  position: absolute; top:10px; right: 10px;
  width:15px; height: 15px;
}
.btn_close>a{
  display: inline-block; padding:8px;
}
.btn_close span{
  position: absolute; top:50%; left:50%;
  width:100%;
  transform-origin: center center;

  display: block; height: 2px; background-color: #555;
}
.btn_close span:first-child{
  transform: translate(-50%,-50%) rotate(-45deg);
}
.btn_close span:last-child{
  transform: translate(-50%,-50%) rotate(45deg);
}