@font-face {
  font-family: 'PaneuropaRetro-Regular';
  src: url('PaneuropaRetro-Regular.eot');
  src: url('PaneuropaRetro-Regular.ttf') format('embedded-opentype'),
       url('PaneuropaRetro-Regular.svg') format('svg'),
       url('PaneuropaRetro-Regular.ttf') format('truetype'),
       url('PaneuropaRetro-Regular.woff') format('woff'),
       url('PaneuropaRetro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

