@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
/* font-family: 'Merriweather', serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
/* font-family: 'Playfair Display', serif; */
@import url("https://use.typekit.net/zqo0izj.css");
/* font-family: utopia-std-headline, serif; */
@import url("https://use.typekit.net/zqo0izj.css");
/* font-family: abril-fatface, serif; */

body{margin:0; padding:0;}
a{text-decoration: none; color:inherit}
ul,ol,li{list-style: none; margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding: 0;}
img{width: 100%; vertical-align: top;}
.inner{width:1180px;margin:0 auto;}
.dpn{display: none;}

.pink{background-color: rgb(255, 194, 194);}
.red{background-color: rgb(255, 107, 107);}
.blue{background-color: rgb(52, 167, 255);}
.yellow{background-color: rgb(255, 233, 162);}
.green{background-color: rgb(185, 255, 145);}
.gray{background-color: rgb(175, 175, 175);}
.orange{background-color: rgb(255, 187, 142);}
.pupple{background-color: rgb(246, 152, 255);}
.color{color:#81D8D0}
/* --------------------------------- */
.container{
  min-width: 1180px;
}

header{
  position: relative;
  height: auto; background-color:black;
  border-top:7px solid #81D8D0}
.header_inner{}

.header_top{
  display: flex;justify-content: space-between;
  align-items: center;
  padding:0 20px;}

.icon_left{}
.search i{
  font-size:20px; color:#ddd; 
  vertical-align: middle; margin-right: 20px;}
  .map i{font-size:20px; color:#ddd;
  vertical-align: middle;}

  .logo{}
  .logo a{
    display:block; width:240px; height: 80px;
    background:url(../images/Tiffany_Logo.svg) no-repeat center center;
    background-size:contain;
    text-indent: -9999px;
    overflow: hidden;}
  .icon_right{}
  .user i{font-size:20px; color:#ddd;
    vertical-align: middle;margin-right: 20px;}
    .heart i{font-size:20px; color:#ddd;
    vertical-align: middle;
    }
/* header_top e  */

nav{font-family: 'Montserrat', sans-serif;}
.gnb{display: flex; justify-content: center;}

.gnb>li{margin-right: 10px; padding-top:15px; padding-bottom:15px;}
.gnb>li:last-child{margin-right: 0;}
.gnb>li::before,.gnb>li::after{
  display: inline-block; opacity: 0;
  transition: transform 0.3s, opacity 0.2s;}

.gnb>li::before{
  content: '['; color:#81D8D0;
  font-weight: bold;
  transform: translateX(10px);
}
.gnb>li:hover::before,.gnb>li:hover::after,.gnb>li:hover>a{
  opacity: 1; color:#81D8D0;
  transform: translateX(0px);}

.gnb>li::after{
  content: ']';
  font-weight: bold;
  transform: translateX(-10px); color:#81D8D0;}

.gnb>li>a{
  font-size:15px;
  padding:10px; 
  color:#ddd;
  text-transform: uppercase;}
/* gnb e */

.subWrap{
  z-index: 10;
  border-top:rgb(39, 39, 39) 1px solid;
  position: absolute; top:100%; left:0; width: 100%; height: 460px;
  background-color: rgb(0, 0, 0);color:#eee;font-family: 'Montserrat', sans-serif;}
.subInner{
  height: 100%; padding-top:40px; box-sizing: border-box;
  /* border: 1px solid rgb(94, 255, 0); */
  display: flex; justify-content: space-between; align-items: flex-start;overflow: hidden;box-sizing: border-box;}

.subInner>li{width: 30%;}
.subInner>li{ margin-right: 10px;}
.subInner>li:last-child{margin-right:0}

.gnb>li:nth-child(4)>.subWrap>.subInner>li:nth-child(2){width: 62.8%;}

.gnb>li:nth-child(6)>.subWrap>.subInner>li:nth-child(2){padding-left: 10px;box-sizing: border-box;}

.subInner span{
  color:#bbb; font-weight: bold;
  display: inline-block;
  font-size: 14px; padding:10px 10px; margin-bottom: 10px;}

.subInner figure{
  overflow: hidden;box-sizing: border-box; 
  margin: 0; padding:0;}
.subInner figure a{
  box-sizing: border-box; overflow: hidden;
  display:block;width: 100%;
  margin:0 10px ;}

.gnb>li>.subWrap{display: none;}
.gnb>li:nth-child(1)>.subWrap{display: none;}
.gnb>li:nth-child(2)>.subWrap{display: none;}
.gnb>li:nth-child(3)>.subWrap{display: none;}
.gnb>li:nth-child(4)>.subWrap{display: none;}
.gnb>li:nth-child(5)>.subWrap{display: none;}
.gnb>li:nth-child(6)>.subWrap{display: none;}

.subInner li:hover img{transform: scale(1.2);}
.subInner figure img{box-sizing: border-box; overflow: hidden; transition: transform 0.5s;}
.subInner figcaption{font-size: 13px; padding:8px 10px;}

.sub01{}
.sub01>li{}
.sub01>li>a{
  position: relative;
  display: block; padding:8px 10px; font-size: 13px;
  transition: all 0.2s ease}
.link{margin-top: 10px;}


#slidesWrap{
  position: relative;
  /* padding-top:47.52%; */
  height: calc(100vh - 136px);
  /* 1422 나누기 2992 곱하기 100% = 47.52% */
  
  overflow: hidden;
  margin: 0 auto; box-sizing: border-box;
}
.slides{
  position: absolute; top:0; left:0%;
  width: 300%; height: 100%;
  display: flex;
}
.slides a{
  position: relative; 
  display: block; width: 33.3333%; height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.slides a:nth-child(1){background-image: url(../images/slide123.png);
  background-position: top 18% center;}
.slides a:nth-child(3){
  background-image: url(../images/slide123123.png);
  background-position: center center;}
.slides a:nth-child(2){background-image: url(../images/s2.jpg);}

.slidestxt{
  font-family: utopia-std-headline, serif;
  position: absolute; color:white;
  letter-spacing: 0.7px;
}
.slidestxt>h2{font-size: 35px; margin-bottom: 30px;;}
.slidestxt>h3{font-size: 25px; font-weight: normal; color:#ddd;}

.slides a:nth-child(1)>.slidestxt{
  top:50%; left:8%;
  transform: translateY(-50%);
}
.slides a:nth-child(2)>.slidestxt{
  box-sizing: border-box;
  position: absolute; top:50%; left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color:color; background-color: rgb(0, 0, 0,0.7);
  padding:20px 30px;
}
.slides a:nth-child(3)>.slidestxt{
  box-sizing: border-box; text-align: right; top:50%; right:8%;
  transform: translateY(-50%); 
  color:white;
}.slides a:nth-child(3)>.slidestxt>h2{font-size: 40px;margin-bottom: 15px;}
.slides a:nth-child(3)>.slidestxt>h3{}
/* slidestxt e  */
.arrowWrap{
  /* border: 2px solid rgb(255, 0, 0); */
  position: absolute; top:50%; left:50%;
  transform: translate(-50%,-50%);
  display: flex; justify-content: space-between; 
  width: 100%; visibility: visible;
}  .arrowWrap a.hid{visibility: hidden;}
.arrowWrap a{
  display: inline-block; width:80px; height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.prev:hover{background-image:url(../images/leftarrow_hover.png);}
.next:hover{background-image:url(../images/rightarrow_hover.png);}
.prev{ background-image:url(../images/leftarrow_121320.png);}
.next{ background-image:url(../images/rightarrow_121279.png);}
  .arrowWrap a.hid{visibility: hidden;}
.indicator{
  position: absolute;bottom:50px; left:50%;
  transform: translateX(-50%);
}
.indicator a{
  display: inline-block;
  width: 50px; height: 8px;
  border-radius: 20px;
  margin-right: 20px;
  /* color:white; */
  background-color: #fff; text-indent: -9999px;
  overflow: hidden;
}.indicator a:last-child{margin-right: 0;}
.indicator a:hover{background-color:#81D8D0;}
.indicator a.active{background-color:#81D8D0;}
/* slidesWrap e  */

#kNot{
  padding-top:200px;background-color: black; box-sizing: border-box;}

.kNot_inner{box-sizing: border-box;}
.kN_txt{text-align: center;font-family: 'Montserrat', sans-serif; color:white;}
  .kN_txt>h2{font-size:32px;letter-spacing: 1px;padding-bottom:30px;}
  .kN_txt>p{margin:0; color:#ccc;
    font-size:14px; letter-spacing: 0.4px;
    line-height: 23px; padding-bottom: 60px;}

.kN_items{width:100%;}

.kN_top{display: flex; margin-bottom: 20px;}
  .kN_topvideo{width: 700px; margin-right: 20px;}
  .kN_topbox{
    position: relative;
    width:460px; background-color: black;}
  .kN_topbox img{
    transform: rotate(25deg); width: 90%;
    position: absolute; top:40%; left:20%;}

.kN_bottom{display: flex;}
  .kN_botbox{
    position: relative;
    width:460px;  background-color: black;}
  .kN_botvideo{width: 700px; margin-left: 20px;}
  .kN_botbox img{width: 80%; position: absolute; top: 7%; left:5%;}

/* hardWear e  */
#mostP{
  padding-top:200px; height: auto; background-color: rgb(0, 0, 0);}

.mostP_inner{
  display: flex; justify-content: space-between; height:900px;}
.mostP_left{width:575px; height: 900px;}
  .mostP3{display: flex; width:100%; height: 300px; padding-bottom: 30px; box-sizing: border-box;}
  .mostP3 a{
    display: block; height: 100%;
    width: 187px; margin-right: 20px;
    background-repeat: no-repeat; background-size: cover; background-position: center center;}

  .mostP3>a:nth-child(1){background-image: url(../images/3-1.png);}
  .mostP3>a:nth-child(2){background-image: url(../images/3-2.png);}
  .mostP3>a:nth-child(3){background-image: url(../images/3-4.png); margin-right: 0;}

.mostP_left>a{
  width: 100%; height: 600px;
  display: block; background-image: url(../images/q1.jpg);
  background-repeat: no-repeat; background-size: cover; background-position: center center;}
 /* mostP_left e */

.mostP_right{
  border: 1px solid rgb(34, 0, 255);
  width:575px; height: 900px; position: relative; }
.mostP_right a{
  display: block; width: 100%; height:100%;
  background-repeat: no-repeat; background-size: cover; background-position: center center;}
.mostP_right a:nth-child(1){
  height: 600px; margin-bottom: 30px;
  background-image: url(../images/q2.png);}
.mostP_right a:nth-child(2){
  height: 270px; 
  background-image: url(../images/aa.jpg); background-position: top 56% center;}
.ring2{
  border: 1px solid rgb(255, 80, 80);
  position: absolute; bottom:-3%; left: 85%; width: 35%; height: 35%;
  transform: rotate(-20deg);
  background: url(../images/bangi2.png) no-repeat center center; background-size: contain;}
/* mostP e  */

#celebrity{height: auto; padding-top: 200px; background-color: black;
overflow: hidden;}
#celebrity>.mostP_inner{flex-direction: row-reverse;}

/* celebrity e  */

#wedding{width:100%;height: 600px; background-color:black; padding-top:300px;}
.wedding_img{
  position: relative;
  width: 100%; height: 100%;
  background:url(../images/wedding.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;}

.wedding_txt{
  font-family: 'Montserrat', sans-serif;
  position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); text-align: center;}
.wedding_txt>h2{
  font-size: 65px; color:white; font-family: utopia-std-headline, serif; margin-bottom:40px;}
.wedding_txt>a{
  /* display:inline-block; font-size: 20px; text-transform: uppercase; padding:10px 20px; */
  font-weight: normal;
  display:inline-block;text-transform: uppercase;
  padding:10px 20px; border: 2px solid white; color:white;


  overflow: hidden; position: relative; vertical-align: top;transition: all 0.5s;}
  .wedding_txt>a:hover{color: #fff;}
  .wedding_txt>a:before{content: ""; z-index: -1; position: absolute; background: #81D8D0; transition: all 1s;}
  .wedding_txt>a:before{left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(45deg); width: 200%; height: 0;}
  .wedding_txt>a:hover:before{height: 400%;}
/* wedding e  */

#tapWrap{height: auto; padding-top:200px;background-color:black;text-align: center;font-family: 'Montserrat', sans-serif;}
#tapWrap>h2{font-size:32px;letter-spacing: 1px;padding-bottom:60px; color:white;text-align: center;}
.tap_inner{display: flex; color:white; width: 100%; padding:0 100px; box-sizing: border-box; overflow: hidden;}

.tap_btn{height: 100%;}
.tap_btn>li{border-bottom: 3px solid black;  background-color: rgb(49, 49, 49);}
.tap_btn>li:last-child{border-bottom: none;}

.tap_btn>li>a{
  text-align: center;
  padding:50px 15px; white-space: nowrap;
  /* border: 1px solid rgb(255, 119, 119); */
  display:block; font-size: 14px;
  overflow: hidden; position: relative;  transition: all 0.5s;}
.tap_btn>li>a:hover{color: #fff;z-index: 1;}
.tap_btn>li.on{background-color: #81D8D0;}
.tap_btn>li>a:before{content: ""; z-index: -1; position: absolute; background: #81D8D0; transition: all 1s;left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(45deg); width: 200%; height: 0;}
.tap_btn>li>a:hover:before,.tap_btn>li.on{height: 400%;}

/* .tap_btn>li:hover>a,.tap_btn>li.on{color:#81D8D0;} */
    /* tap_btn e  */
.tap_conts{}
.tap_conts>div{display: none;}
.t_ttWrap.on,.t_kNwrap.on,.t_hardWrap.on,.t_vicWrap.on,.t_returnWrap.on,.t_atlasWrap.on,.t_elsaWrap.on{display: block;}


.tt{display: flex;}
.tt>a{flex:1;}
.tt_subimg{flex:1; display: flex; flex-wrap: wrap;}
.tt_subimg>a{display: block;width: 50%;}
.tt_subimg img{}
.t_kNwrap>.tt{flex-direction: row-reverse;}
.t_vicWrap>.tt{flex-direction: row-reverse;}
.t_atlasWrap>.tt{flex-direction: row-reverse;}
/* tapWrap e  */
#category{height: auto; background-color:black; padding-top: 200px;}
#category>h2{font-size:32px;letter-spacing: 1px;padding-bottom:60px; color:white;text-align: center;}

.categoryscontainer{
  position: relative; overflow: hidden; height: 350px;}
.categorysWrap{ position: relative; width: 100%; height: 100%; margin:0 auto;}
/* .categorys{
  position: absolute;
  width: 400%; height: 100%; display: flex; transition: 0.5s;}
.categorys li{width:25%;}
.categorys li a{box-sizing: border-box;
  width: 100%; height: 100%;
  display: block;} */
.categorys{
  position: absolute;
  width: 500%; height: 100%; display: flex; transition: 0.5s;}
/* .categorys li{width:100%;} */
.categorys a{
  width: 32.3333%; margin:0.5%; display: block; box-sizing: border-box;
  background-size: cover; background-position: center center; background-repeat: no-repeat;}

  .categorys a:nth-child(1){background-image: url(../images/category/catego1.jpg);
    background-size: 200%; background-position: top 100% left 35%;}
  .categorys a:nth-child(2){background-image: url(../images/category/catego2.jpg);
    background-size: 210%; background-position: top 90% left 60%;}
  .categorys a:nth-child(3){background-image: url(../images/category/earring2.jpg);
    background-size: 170%; background-position: bottom 100% left 100%;}
  .categorys a:nth-child(4){background-image: url(../images/category/ring3.jpg);
    background-size: 180%; background-position: top 0% left 40%;}
  .categorys a:nth-child(5){background-image: url(../images/category/wedding2.jpg);
    background-size: 170%; background-position: top 100% left 92%;}
  .categorys a:nth-child(6){background-image: url(../images/category/neck2.jpg);
    background-size: 180%; background-position: top 80% left 90%;}
  .categorys a:nth-child(7){background-image: url(../images/category/catego6.jpg);
    background-position: top 50% left 50%;}
  .categorys a:nth-child(8){background-image: url(../images/category/sun.jpg);
    background-size: 150%; background-position: top 10% left 10%;}
  .categorys a:nth-child(9){background-image: url(../images/category/cousi.jpg);
    background-size: 150%; background-position: top 100% left 50%;}
  .categorys a:nth-child(10){background-image: url(../images/category/cup.jpg);
    background-size: 150%; background-position: top 80% center;}
  .categorys a:nth-child(11){background-image: url(../images/category/acc.jpg);
    background-size: 150%; background-position: center left 80%;}
  .categorys a:nth-child(12){background-image: url(../images/category/back.jpg);}
  .categorys a:nth-child(13){background-image: url(../images/category/Games_2x2_BG_Marketing.jpg);}
  .categorys a:nth-child(14){background-image: url(../images/category/category10.jpg);}
  .categorys a:nth-child(15){background-image: url(../images/category/category10.jpg);}

.allow{
  position: absolute; top:50%; left:50%;
  transform: translate(-50%,-50%);
  width: 100%; height: auto;
  display: flex; justify-content: space-between; 
  /* border: 5px solid rgb(47, 0, 255); */
  box-sizing: border-box;
}
.allow a{
  visibility: visible;
  display: block; width: 70px; height: 70px;
  background-size:contain;
  background-position: center center;
  background-repeat: no-repeat;
}.allow a.active{visibility: hidden;}
.prev2{background-image: url(../images/leftarrow_hover.png);}
.next2{background-image: url(../images/rightarrow_hover.png);}
/* category e  */

#sns{height: auto; background-color: black; padding-top:200px; text-align: center;overflow: hidden;}
.snsWrap{
  display: flex; flex-wrap: wrap; 
  /* padding:0 100px; */ justify-content: center;}
.snsWrap>li{
  width: 19.5%; margin:0.25%; overflow: hidden;}
.snsWrap>li>a{}
/* sns e  */

#present{height: 500px; padding-top:200px; background-color:black;}
.presentwrap{
  position: relative;
  width: 100%; height: 100%;
  background-image: url(../images/ftimg.png);
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.presentright{
  position: absolute; top:-10%; right: 0; width: 25%; transform: rotate(20deg);}
.presentleft{
position: absolute; top:0%; left: 0; width: 20%; }

.presenttxt{position: absolute; top:50%; left: 50%;
transform: translate(-50%,-50%); text-align: center;color:white;font-family: 'Montserrat', sans-serif;}
.presenttxt>h2{ 
  font-size: 65px; font-family: utopia-std-headline, serif; margin-bottom:20px;}
.presenttxt>p{margin:0; color:#ccc;
  font-size:14px; letter-spacing: 0.4px; line-height: 23px; padding-bottom: 50px; }
.presenttxt>a{
  font-weight: normal;
  display:inline-block;text-transform: uppercase;
  padding:10px 20px; border: 2px solid white; color:white;

  overflow: hidden; position: relative; vertical-align: top;transition: all 0.5s;}
  .presenttxt>a:hover{color: white;}
  .presenttxt>a:before{content: ""; z-index: -1; position: absolute; background: #81D8D0; transition: all 1s;}
  .presenttxt>a:before{left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(45deg); width: 200%; height: 0;}
  .presenttxt>a:hover:before{height: 600%;}
/* present e  */

footer{
  /* min-width:1180px; */
  background-color: rgb(0, 0, 0);
}
.ft_inner{
  /* border: 1px solid rgb(255, 159, 159); */
  box-sizing: border-box;
  padding:60px 30px;font-family: 'Montserrat', sans-serif;
display: flex; justify-content: space-between; color:#aaa; font-size: 12px;}
.ft_inner span{
  font-weight: bold;
  display: inline-block;
  font-size: 13px; margin-bottom: 20px;}

.ft_menu{
  padding-right: 50px;
}
.ft_menu:last-child{
  padding-right: 0;
}
.ft_menu>li{}
.ft_menu>li>a{
  display: block;font-size: 12px; padding:5px 0;}
.ft_inner input{
  background-color: transparent;
  margin:30px 0; width:260px;
  border: none; 
  border-bottom: 1px solid #aaa;
  outline: none;}
.ft_inner>li:nth-child(4)>.ft_menu>li:nth-child(1){font-size: 11px;}
.ft_inner>li:nth-child(4)>.ft_menu>li:nth-child(3)>a{
  display: inline-block;
  text-align: center;
  padding:10px 50px;
  border: 1px solid #aaa; 
  
  overflow: hidden; position: relative; vertical-align: top;transition: all 0.5s;
}
.ft_inner>li:nth-child(4)>.ft_menu>li:nth-child(3)>a:hover{color:white; z-index: 1;}
.ft_inner>li:nth-child(4)>.ft_menu>li:nth-child(3)>a::before{
  content: ""; z-index: -1; position: absolute; background: #81D8D0; transition: all 1s;
  left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(45deg); width: 200%; height: 0;
}

.ft_inner>li:nth-child(4)>.ft_menu>li:nth-child(3)>a:hover::before{height: 400%;}
/* footer e  */


@media screen and (max-width:1180px){
  .inner{width: 90%;}
}
@media screen and (max-width:960px){
  /* header */
  header{display: flex;justify-content:space-between; align-items: center}
  .logo a{width:200px; height: 60px;}
  .header_top{
    border: 1px solid rgb(255, 68, 68);
    flex-direction: column;
    align-items: center;
    padding:0 20px;}
  nav{}
  /* header */

  /* slides */
  .slides a:nth-child(1)>.slidestxt{
    top:50%; left:15%;
    /* border: 1px solid rgb(255, 64, 64); */
    transform: translateY(-50%); width: 30%;
  }
  .slides a:nth-child(3)>.slidestxt{
    top:50%; right:15%;
    /* border: 1px solid rgb(255, 64, 64); */
    transform: translateY(-50%); width: 30%;
  }
  /* slides */
 

  /* wedding */
  .wedding_txt{
    font-family: 'Montserrat', sans-serif;
    position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); text-align: left;}
  .wedding_txt>h2{
    font-size: 80px; color:white; font-family: utopia-std-headline, serif; margin-bottom:40px;}
  .wedding_txt>a{
    font-weight: normal; font-size: 20px;
    display:inline-block;text-transform: uppercase;
    padding:20px 30px; border: 2px solid white; color:white;}
    /* wedding  */

    /* tapWrap  */
    .tap_btn{
      /* border: 1px solid rgb(255, 82, 82); */
      display: flex; flex-direction: column; padding-bottom: 0; text-align: left; margin-right: 50px;}
    .tap_btn>li{
      /* border: 1px solid rgb(255, 133, 133); */
      box-sizing: border-box;
      width: 100%;
      border-bottom:1px dashed #777;}
      .tap_btn>li:last-child{border-bottom: 0;}
    .tap_btn>li>a{
      white-space: nowrap; letter-spacing: -1px;
      font-size: 18px;}
    .tap_btn>li::after{width: 0;}
    .tap_btn>li:last-child::after{width: 0;}
    .tap_inner{display: flex;}
    /* tapWrap  */

    /* categorys */
    .categoryscontainer{
      position: relative; overflow: hidden; height: 400px;}
    .categorys{
      width: 750%; height: 100%;}
    /* .categorys li{width:100%;} */
    .categorys a{
      width: 49.5%; margin:0.5%;}
  /* categorys */

  /* sns */
  .snsWrap>li{width: 32.83333%; margin:0.25%; overflow: hidden;}
  .snsWrap>li:last-child{display: none;}
 /* sns  */

 /* present */
 .presenttxt{position: absolute; top:50%; left: 50%;
  transform: translate(-50%,-50%); text-align: left;}
  .presenttxt>h2{ 
    /* border: 1px solid #000;  */
    font-size: 80px; font-family: utopia-std-headline, serif; margin-right:50px;}
  .presenttxt>p{margin:0; color:#ccc;
    font-size:25px; letter-spacing: 0.4px; line-height: 30px; padding-bottom: 50px;}
  .presenttxt>a{
    font-weight: normal; font-size: 20px;
    display:inline-block;text-transform: uppercase;
    padding:20px 30px; border: 2px solid white; color:white;}
     /* present */
     
}
@media screen and (max-width:768px){
   /* kNot  */
  .kN_items{width:100%;}

  .kN_top{
    position: relative;
    /* border: 1px solid rgb(255, 46, 46); */
    display: block; margin-bottom: 20px;}
    .kN_topvideo{width: 80%;}
    .kN_topbox{
      height: 100%;
      position: absolute; right:10px; bottom:10px;
      /* border: 1px solid rgb(4, 0, 255); */
      width:460px; background-color:transparent;}
    .kN_topbox img{
      border: 1px solid rgb(255, 161, 161);}
  
  .kN_bottom{display: flex;}
    .kN_botbox{
      position: relative;
      width:460px;  background-color: black;}
    .kN_botvideo{width: 700px; margin-left: 20px;}
    .kN_botbox img{width: 80%; position: absolute; top: 10%; left:5%;}
    /* kNot  */
}