@font-face {
  font-family: 'PaneuropaRetro-Bold';
  src: url('../font/PaneuropaRetro-Bold.eot');
  src: url('../font/PaneuropaRetro-Bold.ttf') format('embedded-opentype'),
       url('PaneuropaRetro-Bold.svg#PaneuropaRetro-Bold') format('svg'),
       url('../font/PaneuropaRetro-Bold.ttf') format('truetype'),
       url('../font/PaneuropaRetro-Bold.woff') format('woff'),
       url('../font/PaneuropaRetro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

