@charset "UTF-8";
@font-face {
  font-family: 'paybooc-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'paybooc-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'paybooc-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,body{}
html{ font-size:62.5%; font-size:10px;}
body{margin:0;padding:0;font-family: 'paybooc-Bold';}
h1,h2,h3,h4,h5,h6{margin:0; padding:0;}
ul,ol,li{list-style:none; margin: 0; padding:0;}
a{text-decoration: none; color:inherit;}
img{width:100%; vertical-align: top;}
/* -------------------------- */
.red{background-color: rgb(255, 105, 105);}
.pink{background-color: rgb(255, 205, 249);}
.orange{background: rgb(255, 196, 174);}
.yellow{background-color: rgb(255, 240, 179);}
.green{background-color: rgb(224, 255, 208);}
.blue{background-color: rgb(219, 219, 255);}
.gray{background-color: rgb(208, 208, 208);}
.black{background-color: rgb(70, 70, 70);}

.dpn{display: none;}
.inner{width:1180px; margin: 0 auto;}
.clearfx::after{content: ''; display: block; clear: both;}
/* *{box-sizing: border-box;} */
/* --------------*/

header{position: relative;  border-top: 8px solid orangered;}

.header_inner{
  display: flex; align-items: center; justify-content: space-between;height: 80px;}
  .logo{width: 200px; height: 60px; text-align: center; line-height: 60px;}
  .logo a{}

  nav{}
  .gnb{display: flex; align-items: center;}
  .gnb>li{}
  .gnb>li>a{display: block; font-size: 2.0rem;
  padding:5px 35px;text-align: center;}
  .gnb>li>a>span{display:block; font-size: 1.5rem; font-family: 'paybooc-Medium';}

  .subWrap{
    position: absolute; top:100%; left:0; width: 100%; height: 300px; border-top: 1px solid rgb(236, 236, 236);
    background-color:rgba(255,255,255,0.9)}
  .sub_inner{
    display: flex; justify-content: space-between; align-items: flex-start;padding:20px 80px 0 80px; box-sizing: border-box;}
  .sub_inner>li{width:20%; text-align: left;}

  .gnb>li .sub_inner>li:last-child{width: 25%;}
  .gnb>li:nth-child(3) .sub_inner>li:last-child,.gnb>li:nth-child(5) .sub_inner>li:last-child{width: 53%;}
  .gnb>li:nth-child(4) .sub_inner>li:nth-child(3),.gnb>li:nth-child(4) .sub_inner>li:nth-child(4){width: 29%;}
  .sub_inner li:last-child span,.sub_inner>li:nth-child(3) span{margin-bottom: 0;}
  .gnb>li:nth-child(2) .sub_inner>li{}
  .sub_inner span{
    display: block; font-size: 1.6rem; font-family: 'paybooc-Bold';padding:10px; margin-bottom: 10px;}
  
  .sub_inner figure{overflow: hidden;box-sizing: border-box; 
    margin: 0; padding:0;}
  .sub_inner figure a{display: block;}
  .sub_inner figure img{padding-left: 10px;}
  .sub_inner figcaption{font-size: 1.5rem; padding: 10px;}

  .sub{}
  .sub>li{}
  .sub>li>a{
    display: block; font-size: 1.5rem; padding:8px 10px;}
  .delivery{ 
    text-align: center; margin-top: 20px; 
    background-color: orangered; color:white;}
  .gnb>li>.subWrap{ display:none;z-index: 10;}
  .gnb>li:nth-child(2) .sub li a:nth-child(1){}
  .gnb>li:nth-child(1)>.subWrap{display: none;}
  .gnb>li:nth-child(2)>.subWrap{display: none;}
  .gnb>li:nth-child(3)>.subWrap{display: none;}
  .gnb>li:nth-child(4)>.subWrap{display: none;}
  .gnb>li:nth-child(5)>.subWrap{display: none;}
  /* gnb e  */

  .lang{display: flex; align-items: center; justify-content: center;}
  .lang span{
    padding:5px 25px; text-align: center;
    font-size: 2.0rem; margin:0;}
  .lang span:nth-child(1){
    background-color: black; color:white;
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
  }
  .lang span:nth-child(2){
    /* background-color: rgb(255, 134, 63); */
    border: 1px solid rgb(224, 224, 224);
    border-top-right-radius:50px ;
    border-bottom-right-radius:50px ;
  }
/* header e  */
#sec1{}
.slidesWrap{
  position: relative;
  /* padding-top:47.52%; */
  height: calc(100vh - 88px);
  /* 1422 나누기 2992 곱하기 100% = 47.52% */
  
  overflow: hidden;
  margin: 0 auto; box-sizing: border-box;}
.slides{
  position: absolute; top:0; left:0%;
  width: 300%; height: 100%;
  display: flex;
}
  .slides a{
    position: relative; 
    display: block; width: 33.3333%; height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* https://crello.com/unlimited/stock-photos/326020048/stock-photo-fresh-nigiri-salmon-shrimp-tuna/ */
 /* 사진다운로드 개좋음  */
 /* https://www.maimon-susi.com/ */

  .slides a:nth-child(1){background-image: url(../images/main/main1.jpeg);
    background-position: top 20% center;}
  .slides a:nth-child(2){background-image: url(../images/main/main2.jpg);}
  .slides a:nth-child(3){background-image: url(../images/main/main3.jpeg);}
  /* slides e */

  .arrowWrap{
    /* border: 2px solid rgb(255, 0, 0); */
    position: absolute; top:50%; left:50%;
    transform: translate(-50%,-50%);
    display: flex; justify-content:space-between; 
    align-items: center;
    width: 80%; visibility: visible;
  }  .arrowWrap a.hid{visibility: hidden;}
  .arrowWrap a{
    /* border: 1px solid rgb(255, 62, 62); */
    display: inline-block; font-size: 8.0rem;
    /* background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; */
  }
  /* .prev:hover{background-image:url(../images/leftarrow_hover.png);}
  .next:hover{background-image:url(../images/rightarrow_hover.png);} */
  /* .prev{ background-image:url(../images/leftarrow_121320.png);}
  .next{ background-image:url(../images/rightarrow_121279.png);} */
    .arrowWrap a.hid{visibility: hidden;}
  .indicator{
    position: absolute;bottom:50px; left:50%;
    transform: translateX(-50%);
  }
  .indicator a{
    display: inline-block;
    width: 10px; height: 10px;
    border-radius: 50%;
    margin-right: 20px;
    /* color:white; */
    background-color: #fff; text-indent: -9999px;
    overflow: hidden;
  }.indicator a:last-child{margin-right: 0;}
  .indicator a:hover{background-color:#ff3300;}
  .indicator a.active{background-color:#ff3300;}
/* slidesWrap e */
#sec2{}
.menuSlidesWrap{height: 700px;}

.menuSlides_inner{}
  .menuSlides_txt{}
  .menuSlides_button{}

.menuSlides_container{}
  .menuSlides_items{}
    .menu_item{}
    .menu_item a{}
/* menuSlidesWrap e  */
#sec3{}
.codawariWrap{
  background: url(../images/menuslide/backimg.png) no-repeat center center;
  background-size: cover; 
  background-color: rgb(53, 53, 53);
  height: 1000px;}

.codawari{height: 100%; }
.codawari_inner{height: 100%; box-sizing: border-box; text-align: center; position: relative;}
  .coda_txtWrap{color:white; position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
  .coda_maintxt{font-size: 6.5rem; margin-bottom: 80px;}
  .coda_subtxt{}
    .coda_subtxt p{font-size: 1.5rem; margin: 0; margin-bottom: 65px; line-height: 22px;}
    .coda_subtxt p span{font-size: 2.0rem; display: block; margin-bottom: 15px;}
    .coda_subtxt p:nth-child(1){font-size: 2.5rem;margin-bottom: 40px;}
    .coda_subtxt p:nth-child(2){}
    .coda_subtxt p:nth-child(3){}
    .coda_subtxt p:nth-child(4){}
    .coda_subtxt p:nth-child(5){}
.coda_img1{}
.coda_img2{}
.coda_img3{}
.coda_img4{}
/* codawariWrap e  */
#sec4{}
.aboutWrap{height: 2000px; position: relative; background:url(../images/about/back2.jpg);}
      .about_contsTop{
      border: 1px solid rgb(255, 0, 0);
      position: absolute; top:30%; left:50%; transform: translate(-50%,-50%);
      height: 50%;}

        .about_topImg{position: absolute; top:0; right: 0; width: 70%;}
        .about_topTxt{
          position: absolute; top:35%; left:0%; z-index: -1;
          width: 70%; height: 413px;  background-color: #fff; 
          border-top:7px solid rgb(255, 38, 0);border-bottom:7px solid rgb(255, 38, 0);
          box-sizing: border-box;}
          /* top e  */
      .about_contsbottom{
        border: 1px solid rgb(0, 72, 255);
        position: absolute; bottom:-17%; left:50%; transform: translate(-50%,-50%); 
        height: 50%;}

        .about_bottomImg{position: absolute;bottom:35%; left:0%;  width: 70%;}
        .about_bottomTxt{
          position: absolute; bottom:0; right: 0; z-index: -1;
          width: 70%; height: 413px;  background-color: #fff; 
          border-top:7px solid rgb(255, 38, 0);border-bottom:7px solid rgb(255, 38, 0);
          box-sizing: border-box;}
          /* bottom e  */
/* aboutWrap e  */
#sec5{}
.newmenuWrap{height: 700px;}

.newmenu_inner{}
  .newmenu_imgWrap{}
  .newmenu_txtWrap{}
    .newmenu_txt{}
/* newmenuWrap e  */

#sec6{}
.noticeWrap{height: 700px;}
/* noticeWrap e  */
#sec7{}
.snsWrap{height: 700px;}
/* snsWrap e  */
footer{height: 300px;}
/* footer e  */